{% extends 'base.html.twig' %}

{% block subtitle %} - DashBoard{% endblock %}

{% block body %}

  <div class="container pt-5">
  <h2>Movimenta&ccedil;&otilde;es recentes</h2>
  <p class="small">Ultimas movimenta&ccedil;&otilde;es registradas.</p>
  <div id="lasted-mov-table" class="pt-3">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Data opera&ccedil;&atilde;o</th>
          <th>Fornecedor</th>
          <th>Descri&ccedil;&atilde;o</th>
          <th>Funcion&aacute;rio</th>
        </tr>
      </thead>
      <tbody>
        {% for movimentacao in movimentacoes_le %}
          <tr>
            <td>{{ movimentacao.data ? movimentacao.data|date('d/m/Y') : '' }}</td>
            <td>{{ movimentacao.fornecedor }}</td>
            <td>{{ movimentacao.descricao }}</td>
            <td>{{ movimentacao.valor }}</td>
          </tr>
        {% else %}
          <tr>
            <td colspan="6">sem registros ainda...</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
