{% extends 'base.html.twig' %}

{% block subtitle %} - Funcionarios{% endblock %}

{% block body %}
    <div class="container pt-5">

        <h2>Funcion&aacute;rios</h2>

        <div id="btn-new-mov" class="pt-3">
            <a href="{{ path('funcionario_new') }}" role="button" class="btn btn-primary">Adicionar</a>
        </div>

        <div id="func-table" class="pt-3">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>A&ccedil;&otilde;es</th>
                    </tr>
                </thead>
                <tbody>
                {% for funcionario in funcionarios %}
                    <tr>
                        <td>{{ funcionario.nome }}</td>
                        <td>{{ funcionario.email }}</td>
                        <td>
                            <a href="{{ path('funcionario_show', {'id': funcionario.id}) }}">Detalhes</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">sem registros no momento...</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}