{% extends 'base.html.twig' %}

{% block title %}New Funcionario{% endblock %}

{% block body %}

  <div class="container pt-5">
    <h2>Adicionar novo Funcionario</h2>

    {{ include('funcionario/_form.html.twig') }}

  </div>

{% endblock %}