{% extends 'base.html.twig' %}

{% block title %}New Departamento{% endblock %}

{% block body %}
  <div class="container pt-5">
    <h2>Adicionar novo Departamento</h2>

    {{ include('departamento/_form.html.twig') }}

  </div>
{% endblock %}