{% extends 'base.html.twig' %}

{% block title %}Edit Movimentacao{% endblock %}

{% block body %}
  <div class="container pt-5">

    <h2>Editar Movimentacao</h2>

    {{ include('movimentacao/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('movimentacao_index') }}">Retornar</a>

    {{ include('movimentacao/_delete_form.html.twig') }}

  </div>

{% endblock %}