{% extends 'base.html.twig' %}

{% block title %}New Movimentacao{% endblock %}

{% block body %}
  <div class="container pt-5">
    <h2>Adicionar nova Movimentacao</h2>

    {{ include('movimentacao/_form.html.twig') }}

  </div>
{% endblock %}